section h1 {
font-family: IBM Plex Serif;
font-style: italic;
font-weight: 600;
font-size: 24px;
line-height: 31px;
color: #00CE52;
}
section p {
font-family: IBM Plex Serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
color: #000000;
width: 758px;
height: 252px;
margin-top: 30px;
}
.pa {
  padding-top: 67px;

margin-left: 103px;
}
.va {
  margin-top: 85px;
  margin-left: 437px;
}
.va p {
  height: 101px;
}
.round1 {
  position: absolute;
  width: 261px;
  height: 261px;
  left: 923px;
  top: 1229px;
}
.round2 {
position: relative;
width: 301px;
height: 301px;
left: -95px;
top: auto;
}
.round2back {
  position: absolute;
  left: 0px;
  top: 1468px;
  width: 206px;
  height: 301px;
  overflow: hidden;
}
.big1 {
position: absolute;
width: 40px;
height: 40px;
border-radius: 50%;
background: #95CCFF;
}
.small1 {
position: absolute;
width: 31px;
height: 31px;
border-radius: 50%;
background: #95CCFF;
}
#first {
left: 209px;
top: 1760px;
}
#second {
  left: 975px;
top: 1490px;
}
#third {
  left: 1185px;
top: 1202px;
}
#first1 {
  left: 850px;
top: 1161px;
}
#first2 {
  left: 306px;
top: 1550px;
}
#first3
{
  left: 100px;
top: 1700px;
}
.bigger  {
width: 910px;
height: 150px;
font-size: 32px;
line-height: 42px;
position: relative;
margin: 175px auto 0px;
}

.biground {
display: block;
width: 618px;
height: 618px;
margin: 60px auto 0px;
}
.centertext p {
  width: 737px;
  height: 157px;
  border: 2px solid #95CCFF;
  padding: 50px 68px 50px 40px;
  margin: 83px auto 133px;
}
#s2 {
  padding-top: 50px;
}
.pervaya {
  margin: 0 auto;
  width: 960px;
  background: white;
  color: black;
  border-spacing: 2px;
  text-align: left;
  border-collapse: collapse;

}
.tables {
  padding-top: 30px;
  margin: 1660px auto 0px ;
}
.pervaya2 {
font-family: IBM Plex Serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
padding: 27px 43px 27px 33px;

}
.pervaya1, .pervaya2 {
  border: 2px solid #00CE52;
}
#colomn {
  padding: 27px 31px 27px 34px;
}
#nazvanije {
font-style: italic;
font-weight: 500;
font-size: 48px;
text-align: center;
padding-top: 31px;
padding-bottom: 31px;
}
.vtoraya {
  margin: 67px auto 139px ;
  width: 964px;
  background: #95CCFF;
  color: white;
  border-spacing: 2px;
  text-align: left;
  border-collapse: collapse;
}
.vtoraya2 {
font-family: IBM Plex Serif;
font-weight: 500;
font-size: 24px;
line-height: 31px;
}
.vtoraya1, .vtoraya2 {
  border: 2px solid white;
}
#muz1, #muz11, #med1, #med11 {
font-weight: 100;
}
#muz2, #muz12, #med2, #med12 {
font-weight: 200;
}
#muz3, #muz13, #med3, #med13 {
font-weight: 300;
}
#muz4, #muz14, #med4, #med14 {
font-weight: 400;
}
#muz5, #muz15, #med5, #med15 {
font-weight: 500;
}
#muz6, #muz16, #med6, #med16 {
font-weight: 600;
}
#muz7, #muz17, #med7, #med17 {
font-weight: 700;
}
#muz11, #muz12, #muz13, #muz14, #muz15, #muz16, #muz17, #med11, #med12, #med13, #med14, #med15, #med16, #med17 {
font-style: italic;
}

#muz1, #muz2, #muz3, #muz4, #muz5, #muz6, #muz7,#muz11, #muz12, #muz13, #muz14, #muz15, #muz16, #muz17 {
width: 31px;
  padding: 13px 65px 14px 71px ;
}
#med1, #med2, #med3, #med4, #med5, #med6, #med7,#med11, #med12, #med13, #med14, #med15, #med16, #med17 {
width: 31px;
  padding: 13px 40px 14px 50px;
}
.as p {
  width: 844px;
  margin-top: 67px;
  margin-left: 103px;
}
.pattern {
  width: 1105px;
  margin: 37px auto;
  background: white;
  display: block;
  position: relative;
  height: 1105px;
}
.pattern::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background: url( '../images/patternz.jpg');
  height: 100%;
  display: block;


}
.ground {
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background: #95CCFF;
  display: block;
}

#ground1 {
left: 4.3%;
top: 18.55%;
}

#ground2 {
left: 47.8%;
top: 18.55%;
}
#ground3 {
left: 91.1%;
top: 18.55%;
}
#ground4 {
  left: 4.3%;
  top: 47.6%;
}
#ground5 {
left: 47.8%;
top: 47.6%;
}
#ground6 {
left: 91.1%;
top: 47.6%;
}
#ground7 {
left: 4.3%;
top: 76.38%;
}
#ground8 {
left: 47.8%;
top: 76.38%;
}
#ground9 {
left: 91.1%;
top: 76.38%;
}
.conzent {
  height: 503px;
}
.text {
  position: absolute;

  margin: 230px 0px 0px 495px;
 width: 682px;
 height: 118px;
}
.focus {
  position: absolute;
  margin-top: 20px;
  margin-left: -119px;
}
.ibmblock {
  margin-top: 150px;
}
.ibm {
  width: 818px;
  height: 229px;
  background: #00CE52;
  color: white;
  padding: 42px 359px 42px 103px;
}
.itogblock {
  width: 1280px
  margin: 0px;
}
.itog {
  margin-top: 0px;
  margin-left: 103px;
  width: 844px;
  height: 134px;
}
#now {
  width: 547px;
  height: 42px;
  margin: 68px auto 0px;
}
.strelka {
  display: block;
  margin: 15px auto 100px;

}
.praktik {
  margin-top: 40px;
  width: 1280px;
  margin-bottom: 50px;
  padding-top: 60px;
}
.praktik p {
font-style: italic;
font-weight: 500;
font-size: 48px;
line-height: 62px;
color: black;
margin-left: 103px;
height: 45px;
width: 550px;
padding-bottom: 15px;
border-bottom: 2px solid #00CE52;

}
.praktik img {
  margin: 30px auto;
  display: block;

}
#vydoh {
  margin-left: 95px;
  margin-top: 25px;
}
#finish {
  width: 681px;
  height: 41px;
  margin: 285px auto 150px;
}
.endbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 117px;
  background: rgba(0, 206, 82);
  padding: 0 103px;

}
.endbar p {

  font-family: IBM Plex Serif;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;

}
.link {
  width: 43px;
  padding-left: 8px;
}
.push {
margin: 20px 0px 0px 1115px;
}
.knopka {
  width: 52px;
height: 18px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #00CE52;
margin: -2px 0px 26px 1122px;
}
